# Dependências
node_modules/
**/node_modules/

# Builds
dist/
build/
**/dist/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Expo
.expo/
*.expo/

# Ambiente
.env
.env.local
*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/
Thumbs.db
